.topBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #4a4e72;

}

.mainsearchContainer {
    display: none;
}

.input{
    height: 50px;
    width: 280px;
    background-color: #3b3e52;
    border: none;
}

.authorContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.authorContainer p {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

@media (min-width:992px) {
    .mainsearchContainer {
        display: flex;
        align-items: center;
        padding: 10px 40px;
        background-color: #3b3e52;
    }

    .authorContainer {
        justify-content: center;
        padding: 10px 40px;
    }

}