.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.mainiconContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 15px;
}

.circleIcon {
    display: flex;
    align-items: center;
}

.iconContainer {
    display: flex;
    align-items: center;
    gap:8px;
}

.iconContainer p {
    margin: 0;
    padding: 0;
}

.taskContainer {
    display: flex;
    align-items: center;
    gap:20px;
    padding-right: 15px;
}

.taskContainer button {
    color: #007bff;
}

.btnContainer {
    color: #fff;
}

.button {
    color: #fff;
}

.mainBoardContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainBoard {
    background-color: #3b3e52;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.board {
    width: 100%;
   background-color: #303446;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid gray;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.taskListContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin:0;
}

.taskList {
    padding: 10px;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 15px;
    background-color: aliceblue;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.listColor {
    height: 100px;
    width: 5px;
    background-color: black;
}

.todos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todos p {
    margin: 8px 0;
    text-align: left;
    font-size: 14px;
}

.taskInput {
    width: 274px;
    padding: 10px;
}

.closeContainer {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 22px;
}

.textareaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.textarea {
    padding: 10px;
    margin-bottom: 10px;
}

.selectarea {
    padding: 10px;
    margin-bottom: 10px;
}

.saveBtn {
    color: #fff;
}


@media(min-width:600px) {
    .mainBoard {
        width: 45%;
    }
}

@media(min-width:992px) {
    .mainBoardContainer {
        margin: 0;
    }

    .mainBoard {
        width: 30%;
    }

    .features {
        padding:0px;
    }

    .mainiconContainer {
        padding: 20px 60px;
        gap: 15px;
    }
}

@media(min-width:1090px) {
    .mainBoard {
        width: 22%;
    }
}