* {
    box-sizing: border-box;
}
.outerContainer {
    width: 95%;
    margin: 50px auto;
}

.dashboardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.dashboard {
    color:white;
    font-size:20px;
    margin: 5px 0;
}

.notifications {
    color: white;
    font-size: 22px;
}

.project {
    color:white;
    text-align: left;
    padding-left: 10px;
    margin: 5px 0;
}
.mainHomeContainer {
    border: 1px solid black;
    width:100%;
    border-radius:10px;
    padding: 10px;
     margin-bottom: 10px;
}

.numberContainer {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.number {
    font-size:20px;
    font-weight:bold;
    margin: 5px 0;
    color:black;
}

.title {
    text-align: left;
    color:black;
}

.icon {
    height: 25px;
    width: 25px;
    background-color:white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
}

.mainContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* width: 98%; */
    padding: 10px;
    justify-content: space-between;
     /* gap: 20px; */
}

@media(min-width:600px) {
    .mainHomeContainer {
        width: 48%;
    }
    
}

@media(min-width:768px) {
    .mainHomeContainer {
        width: 33%;
    }
    
}

@media(min-width:992px) {
    .mainHomeContainer {
        width: 24%;
    }
    
}